.heroContainer {
  width: 100vw;
  //   position: absolute;
  //height: 80px;
  height: calc(100vh - 80px);
  //border: 4px solid blue;
  // margin-top: 80px;

  .heroWrapper {
    width: 100%;
    //height: calc(100vh - 80px);

    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
}
